@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --fonte: "Montserrat", sans-serif;
    --nav: #9195F6;
    --main: linear(#B7C9F2, #FFFFFF);
    --copyright: #B7C9F2;
    --footer: #FFFFFF;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*NAV*/

nav li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #EDF0F1;
    text-decoration: none;
}

header {
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
}

.logo {
    cursor: pointer;
    width: 50px;
    height: 10%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    transition: all 0.3s ease 0s;
    color:#0088a9
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}


@media (max-width: 1201px) {
    header {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}


@media (min-width: 901px) and (max-width: 1200) {
    header {
        grid-template-columns: repeat(2, 2fr);
        gap: 5rem;
    }
}

@media (min-width: 601px) and (max-width: 900px){
    header {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    } 
}

@media(max-width: 600px){
    header {
        padding-right: 200px;
        grid-template-columns: repeat(1, 1fr);
        gap: 6rem;
    }
    nav {
        padding-right: 10px;
        padding-left: 10px;
        margin-left: 3px;
    }
    .nav_links {
        height: 8vh;
        width: 5vw;
    }
}


/*MAIN*/
main {
    height: 80vh;
}

/*FOOTER*/