@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --fonte: "Montserrat", sans-serif;
    --nav: #9195F6;
    --main: linear(#B7C9F2, #FFFFFF);
    --copyright: #B7C9F2;
    --footer: #FFFFFF;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*NAV*/
nav li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #EDF0F1;
    text-decoration: none;
}

header {
    background-color: var(--nav);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
}

.logo {
    cursor: pointer;
    width: 50px;
    height: 10%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    transition: all 0.3s ease 0s;
    color: var(--copyright);
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}


@media (max-width: 1201px) {
    header {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}


@media (min-width: 901px) and (max-width: 1200) {
    header {
        grid-template-columns: repeat(2, 2fr);
        gap: 5rem;
    }
}

@media (min-width: 601px) and (max-width: 900px){
    header {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    } 
}

@media(max-width: 600px){
    header {
        padding-right: 200px;
        grid-template-columns: repeat(1, 1fr);
        gap: 6rem;
    }
    nav {
        padding-right: 10px;
        padding-left: 10px;
        margin-left: 3px;
    }
    .nav_links {
        height: 8vh;
        width: 5vw;
    }
}



/*main*/
main {
    height: 80vh;
    background-color: var(--main);
}


/*FOOTER*/

footer {
    width: 100%;
    color: var(--footer);
}

.footer-link{
    text-decoration: none;
}

#footer_content {
    background-color: var(--footer);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 2.5rem;
    width: 2.5em;
    color: var(--copyright);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link:hover {
    opacity: 0.6;

}

#instagram {
    background: linear-gradient(#7F37C9, #FF2992, #FF9807);
}

#facebook {
    background-color: #4267B3;
}

#whatsapp {
    background-color: #25D366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: var(--footer);
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--nav);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--copyright);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7F37C9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.6;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--copyright);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

/*media queri*/

@media (max-width: 1201px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}


@media (min-width: 901px) and (max-width: 1200) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}

@media (min-width: 601px) and (max-width: 900px){
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}

@media(max-width: 600px){
    #footer_content {
        grid-template-columns: repeat(1, 2fr);
        padding: 3rem 2rem;
        gap: 2rem;
    }
}


