@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --fonte: "Montserrat", sans-serif;
    --nav: #9195F6;
    --main: #B7C9F2;
    --copyright: #B7C9F2;
    --footer: #FFFFFF;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fonte);
}


/*navbar*/
nav li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #EDF0F1;
    text-decoration: none;
}

header {
    background-color: var(--nav);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
}

.logo {
    width: 250px;
    padding: 0;
    margin: 0;
    height: 100px;
}


.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    transition: all 0.3s ease 0s;
    color: var(--copyright);
}

button {
    padding: 9px 25px;
    color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: var(--nav);
    font-size: 16px;
    font-weight: 5000;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}


@media (max-width: 1201px) {
    header {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}


@media (min-width: 901px) and (max-width: 1200) {
    header {
        grid-template-columns: repeat(2, 2fr);
        gap: 5rem;
    }
}

@media (min-width: 601px) and (max-width: 900px){
    header {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    } 
}

@media(max-width: 600px){
    header {
        padding-right: 200px;
        grid-template-columns: repeat(1, 1fr);
        gap: 6rem;
    }
    nav {
        padding-right: 10px;
        padding-left: 10px;
        margin-left: 3px;
    }
    .nav_links {
        height: 8vh;
        width: 5vw;
    }
}



/*main*/



#banner{
    display: flex;
    padding: 5rem 10rem;
    justify-content: space-around;
    background: linear-gradient(to bottom, var(--main), white);
}

#banner-text h1{
    font-size: 3rem;
    font-weight: 300;
    padding-right: 30%;
    color: var(--footer);
}

#banner-text button{
    display: flex;
    justify-content: space-around;
    border: none;
    border-radius: 0.7rem;
    padding: 0.8rem 1.2rem ;
    background-color: var(--main);
    font-size: 1rem;
    font-weight: 100;
    cursor:pointer;
}

#units{
    background: linear-gradient(to bottom, var(--footer), var(--main));
    margin: 3rem;
    border-radius: 4rem;
}

#units-title h2{
    padding-top: 3rem;
    padding-left: 5rem;
    font-size: 3rem;
    color: var(--main);
    border-color: black;

}

#units img{
    width: 17rem;
    height: auto;
    border-radius: 1rem;
}

#units-grid{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-around;
    align-items: center;
}
#units-grid h3{

    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center;
    text-align: center;
    margin: 0.5rem auto;
    max-width: 16rem; /* Defina o valor desejado para a largura máxima do texto */
}

.unit-image{
    border-radius: 1rem;
    background-color: var(--main);
    margin:1rem;
    height: 15rem;
    max-width: 17rem;
    transition: transform 0.3s ease;
    cursor:pointer

}
#problem-impact {
    height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.problem-impact-text {
    background-color: var(--main);
    width:  100vw;
    padding-top: 20px;
}


#problem{
    padding:1rem;
    border-radius: 1rem;
}
#problem p{
    list-style-type: decimal;
    font-size: 1.3rem;

}
#problem h2{
    font-size: 1.5rem;
    text-align: center;
    color: var(--nav);
}
#problem h3{
    font-size: 1.4rem;
    color: var(--nav);
}

#problem-impact li {
    color: var(--nav);
    list-style: none;
}

#problem-solving{
    padding:1rem;
    border-radius: 1rem;
}
#problem-solving p{
    list-style-type: decimal;
    font-size: 1.3rem;

}
#problem-solving h2{
    font-size: 1.5rem;
    text-align: center;
    color: var(--nav);
}
#problem-solving h3{
    font-size: 1.4rem;
    color: var(--nav);
}

/*FOOTER*/

footer {

    width: 100%;
    color: var(--footer);
}

.footer-link{
    text-decoration: none;
}

#footer_content {
    background-color: var(--nav);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 5rem 3.5rem;
}

#footer_contacts img{
    width: 150px;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 2.5rem;
    width: 2.5em;
    color: var(--copyright);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link:hover {
    opacity: 0.6;

}

#instagram {
    background: linear-gradient(#7F37C9, #FF2992, #FF9807);
}

#facebook {
    background-color: #4267B3;
}

#whatsapp {
    background-color: #25D366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--footer);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: var(--footer);
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--footer);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--footer);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
    color: #000000;
}

#input_group button {
    background-color: rgba(0, 136, 169, 1);
    border: none;
    color: var(--main);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.6;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--nav);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

/*media queri*/

@media (max-width: 1201px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}


@media (min-width: 901px) and (max-width: 1200) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}

@media (min-width: 601px) and (max-width: 900px){
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}

@media(max-width: 600px){
    #footer_content {
        grid-template-columns: repeat(1, 2fr);
        padding: 3rem 2rem;
        gap: 2rem;
    }
}

