@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --fonte: "Montserrat", sans-serif;
    --nav: #9195F6;
    --main: linear(#B7C9F2, #FFFFFF);
    --copyright: #B7C9F2;
    --footer: #FFFFFF;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    height: 80vh;
}